//---
	layout: layouts/main

+b.intro
	+e.logo
		img(src=asset("i/logo-big.png"), alt="")
	+e.description
		| Evolution frontend development!
	+e.navigation
		+b("ul").menu: +i

.wrap(style="padding-top: 80px;")
	h1.sr-only= site.title

	mixin show-section(name)
		- var section = queryFile({ fullname: "content/" + name })
		section(id=name)
			h1= section.title
			article!= section.processed
	
	+show-section("wtf")
	+show-section("start")
	+show-section("plugins")
	+show-section("contribute")
